body {
  font-family: Calluna Sans, sans-serif;
}

li, td {
  font-family: Calluna, serif;
}

h1 {
  color: grey;
  text-shadow: 2px 2px 4px black;
}

h1, h2, h3 {
  padding: 15px;
}

h3 {
  font-style: italic;
}

.sidebar {
  background: linear-gradient(340deg, #708090, #DCDCDC);
  height: 100vh;
  position: sticky;
  top: 0;
}

td {
  padding: 5px;
  cursor: context-menu;
}

.room {
  margin: 10px;
}

.scrollable {
  height: 70vh;
  overflow: auto;
}

.message-box {
  height: 100%;
  overflow: hidden;
}

.fixed-bottom {
  margin: 0 0 80px 480px;
  background-color: #DCDCDC;
}

li:nth-child(1), td {
  font-size: 1.5rem;
}

li:nth-child(2) {
  background-color: #d6d6d6;
}

.delete {
  cursor: pointer;
}

tr .delete {
  color: red;
  padding-left: 10px;
}