<div class="container">
  <div class="row">
    <div class="col-md-4 sidebar">
      <span class="glyphicon glyphicon-globe"></span>
      <h1>Bloc Chat, Y'all!</h1>
      <table>
        <tr ng-repeat="room in home.roomList">
          <td>{{ room.room }}</td>
        </tr>
      </table>
      <div ng-controller='ModalCtrl as modals'>
        <button type="button" class="btn btn-warning" ng-click="modals.open()">Add a room?</button>
      </div>
    </div>
    <div class="col-md-8">
      <h2>Isn't it strange when they write "page intentionally left blank"?</h2>
      <h3>Cuz, I mean, it isn't blank if you wrote that . . . </h3>
    </div>
  </div>
</div>
