<div class="container">
  <div class="row">
    <div class="col-md-4 sidebar">
      <span class="glyphicon glyphicon-globe"></span>
      <h1>Bloc Chat, Y'all!</h1>
      <table>
        <tr ng-repeat="room in home.roomList">
          <td ng-click="home.setRoom( {{ room.$id }}, {{ room.room }} )">{{ room.room }}</td>
        </tr>
      </table>
      <div ng-controller='ModalCtrl as modals'>
        <button type="button" class="btn btn-warning" ng-click="modals.open()">Add a room?</button>
      </div>
    </div>
    <div class="col-md-8">
      <h2>{{ home.currentRoomName }}</h2>
      <table>
        <tr ng-repeat="message in message.messageList">
          <td>{{ message.content }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
