<div>
    <div class="modal-header">
        <h2 class="modal-title">Create Room</h2>
    </div>
    <div class="modal-body">
        <form  ng-submit="modalInstance.addNew(room)">
          <label>Enter Room Name: <input type="text" ng-model="room" autofocus='autofocus'/></label>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="modalInstance.cancel()">Close</button>
        <button class="btn btn-warning" type="button" ng-click="modalInstance.addNew(room)">Create Room</button>
    </div>
</div>
